@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.nav-menu {
  visibility: hidden;
  transform: translateX(100%);
  margin-left: auto;
  transition: all 0.3s linear;
}

.nav-menu.active {
  visibility: visible;
  transform: translateX(0);
}

@layer base {
  h1 {
    @apply capitalize text-secondary text-[28px] leading-[34px] font-[600]  sm:text-[40px] sm:leading-[48px] lg:font-[500] lg:text-[6vw] lg:leading-[6vw] 3xl:text-[8vw] 3xl:leading-[8vw];
  }

  h2 {
    @apply uppercase text-[24px] leading-[24px] font-[600] sm:text-[32px] sm:leading-[32px] md:text-[48px] md:leading-[48px];
  }
}
