@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
text-6xl (Extra Large): Font size 190px
text-5xl (Large): Font size 96px
text-3xl (Triple Extra Large): Font size 48px
text-2xl (Double Extra Large): Font size 40px
text-base (Base): Font size 24px */

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #2b2b2b !important;
}

.navbar-menu li a.active {
  color: #75ccd7;
}

.navbar-menu li a:hover {
  color: white;
}

.nav-menu {
  visibility: hidden;
  transform: translateX(100%);
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

.nav-menu.active {
  visibility: visible;
  transform: translateX(0);
}

/* //phone number input class  */
.highlight {
  background-color: #2b2b2b !important;
}

.country:hover {
  background-color: #2b2b2b !important;
}

.country-list::-webkit-scrollbar {
  display: none;
}

@layer base {
  h1 {
    @apply capitalize text-secondary font-[600] lg:font-[500] text-[42px] leading-[42px] sm:text-[7vw] sm:leading-[7vw] 3xl:text-[8.5vw] 3xl:leading-[8.5vw];
  }

  h2 {
    @apply capitalize text-[30px] leading-[32px] font-[500] sm:text-[48px] sm:leading-[48px] xl:text-[60px] xl:leading-[60px];
  }

  h3 {
    @apply capitalize text-[20px] leading-[26px] 
    lg:text-[24px] lg:leading-[30px] 3xl:text-[32px] 3xl:leading-[32px];
  }

  h4 {
    @apply text-lg sm:text-xl xl:text-2xl;
  }
}

@layer components {
  .container {
    @apply px-[14px] sm:px-[24px] lg:px-[30px] bg-background;
  }

  .primary-btn {
    @apply w-[340px] sm:w-[400px] text-sm sm:text-base lg:text-lg xl:text-xl py-2.5 rounded-full bg-primary text-background flex justify-center items-center gap-3 font-medium;
  }

  .landing-title {
    @apply capitalize text-secondary font-[600] lg:font-[500] text-[8.5vw] leading-[8.5vw] 3xl:text-[9.5vw] 3xl:leading-[9.5vw];
  }

  .search-box {
    @apply !p-2 !border-0 !border-b !border-gray-600 !capitalize !w-full !m-0;
  }
}
