@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.navbar-menu li a.active {
  color: #75ccd7;
}

.navbar-menu li a:hover {
  color: white;
}

.nav-menu {
  visibility: hidden;
  transform: translateX(100%);
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

.nav-menu.active {
  visibility: visible;
  transform: translateX(0);
}

@layer base {
  h1 {
    @apply capitalize text-secondary font-[600] lg:font-[500] text-[42px] leading-[42px] sm:text-[7vw] sm:leading-[7vw] 3xl:text-[8.5vw] 3xl:leading-[8.5vw];
  }

  h2 {
    @apply capitalize text-[32px] leading-[32px] font-[500] sm:text-[40px] sm:leading-[48px] lg:text-[64px] lg:leading-[64px];
  }

  h3 {
    @apply capitalize text-[20px] leading-[26px] 
    lg:text-[24px] lg:leading-[32px] 3xl:text-[40px] 3xl:leading-[40px];
  }
}

@layer components {
  .container {
    @apply px-[20px] bg-background;
  }

  .primary-btn {
    @apply w-[340px] sm:w-[400px] text-sm sm:text-base xl:text-lg py-2.5 rounded-full bg-primary text-background flex justify-center items-center gap-3 font-medium;
  }

  .landing-title {
    @apply capitalize text-secondary font-[600] lg:font-[500] text-[8.5vw] leading-[8.5vw] 3xl:text-[9.5vw] 3xl:leading-[9.5vw];
  }
}
